.recent {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid var(--var-background);
}

.recent_icon {
    font-size: 30px !important;
    margin-top: 10px;
}